@media screen and (max-width: 700px) {
  body {
    background: whitesmoke;
  }
}


body {
  background: whitesmoke;
  margin: 0;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  background: royalblue;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: powderblue;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: steelblue;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.burger {
	font-size: 30px;
  cursor: pointer;
  color:pink;
}

.navbar {
  /* width/height changed through javascript when opened */
  height: 0;
  width: 0; 
  
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
}

