@media screen and (max-width: 700px) {
  body {
    background: whitesmoke;
  }
}


body {
  background: whitesmoke;
  margin: 0;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  background: royalblue;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: powderblue;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: steelblue;
  color: whitesmoke;
}
